@model List<Course>    
<!-- Courses Section -->
<section id="courses" class="courses section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Courses</h2>
        <p>Popular Courses</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row">

            @{
                int num = 0;
                foreach (var course in Model)
                {
                    num++;
                    switch (num)
                    {
                        case 1:
                            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                                <div class="course-item">
                                    <img src="~/assets/img/@course.Img" class="img-fluid" alt="...">
                                    <div class="course-content">
                                        <div class="d-flex justify-content-between align-items-center mb-3">
                                            <p class="category">@course.Category.Name</p>
                                            <p class="price">$@course.Price</p>
                                        </div>

                                        <h3><a asp-action="detail" asp-controller="course" asp-route-id="@course.Id">@course.Name</a></h3>
                                        <p class="description">@course.Description</p>
                                        <div class="trainer d-flex justify-content-between align-items-center">
                                            <div class="trainer-profile d-flex align-items-center">
                                                <img src="~/assets/img/trainers/trainer-1-2.jpg" class="img-fluid" alt="">
                                                <a href="" class="trainer-link">@course.TranierName</a>
                                            </div>
                                            <div class="trainer-rank d-flex align-items-center">
                                                <i class="bi bi-person user-icon"></i>&nbsp;50
                                                &nbsp;&nbsp;
                                                <i class="bi bi-heart heart-icon"></i>&nbsp;65
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- End Course Item-->
                            break;
                        case 2:
                            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                                <div class="course-item">
                                    <img src="~/assets/img/@course.Img" class="img-fluid" alt="...">
                                    <div class="course-content">
                                        <div class="d-flex justify-content-between align-items-center mb-3">
                                            <p class="category">@course.Category.Name</p>
                                            <p class="price">$@course.Price</p>
                                        </div>

                                        <h3><a asp-action="detail" asp-controller="course" asp-route-id="@course.Id">@course.Name</a></h3>
                                        <p class="description">@course.Description</p>
                                        <div class="trainer d-flex justify-content-between align-items-center">
                                            <div class="trainer-profile d-flex align-items-center">
                                                <img src="~/assets/img/trainers/trainer-1-2.jpg" class="img-fluid" alt="">
                                                <a href="" class="trainer-link">@course.TranierName</a>
                                            </div>
                                            <div class="trainer-rank d-flex align-items-center">
                                                <i class="bi bi-person user-icon"></i>&nbsp;50
                                                &nbsp;&nbsp;
                                                <i class="bi bi-heart heart-icon"></i>&nbsp;65
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- End Course Item-->
                            break;
                        default:
                            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
                                <div class="course-item">
                                    <img src="~/assets/img/@course.Img" class="img-fluid" alt="...">
                                    <div class="course-content">
                                        <div class="d-flex justify-content-between align-items-center mb-3">
                                            <p class="category">@course.Category.Name</p>
                                            <p class="price">$@course.Price</p>
                                        </div>

                                        <h3><a asp-action="detail" asp-controller="course" asp-route-id="@course.Id">@course.Name</a></h3>
                                        <p class="description">@course.Description</p>
                                        <div class="trainer d-flex justify-content-between align-items-center">
                                            <div class="trainer-profile d-flex align-items-center">
                                                <img src="~/assets/img/trainers/trainer-1-2.jpg" class="img-fluid" alt="">
                                                <a href="" class="trainer-link">@course.TranierName</a>
                                            </div>
                                            <div class="trainer-rank d-flex align-items-center">
                                                <i class="bi bi-person user-icon"></i>&nbsp;50
                                                &nbsp;&nbsp;
                                                <i class="bi bi-heart heart-icon"></i>&nbsp;65
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- End Course Item-->
                            break;
                    }

                }
            }

        </div>

    </div>

</section><!-- /Courses Section -->